*{
	margin-left: 0;
	margin-right: 0;
}
body{	
	background: -webkit-linear-gradient(90deg, #43cea2 10%, #185a9d 90%); /* Chrome 10+, Saf5.1+ */
	background:    -moz-linear-gradient(90deg, #43cea2 10%, #185a9d 90%); /* FF3.6+ */
	background:     -ms-linear-gradient(90deg, #43cea2 10%, #185a9d 90%); /* IE10 */
	background:      -o-linear-gradient(90deg, #43cea2 10%, #185a9d 90%); /* Opera 11.10+ */
	background:         linear-gradient(90deg, #43cea2 10%, #185a9d 90%); /* W3C */
}
header h1{		
	font-family: Brush Script MT;
	color: white;
	text-align: center;
	font-size: 400%;
}
.navbar{
	background: -webkit-linear-gradient(90deg, #FFEEEE 10%, #DDEFBB 90%); /* Chrome 10+, Saf5.1+ */
	background:    -moz-linear-gradient(90deg, #FFEEEE 10%, #DDEFBB 90%); /* FF3.6+ */
	background:     -ms-linear-gradient(90deg, #FFEEEE 10%, #DDEFBB 90%); /* IE10 */
	background:      -o-linear-gradient(90deg, #FFEEEE 10%, #DDEFBB 90%); /* Opera 11.10+ */
	background:         linear-gradient(90deg, #FFEEEE 10%, #DDEFBB 90%); /* W3C */
}
.navbar ul{
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 3%;
}
.navbar ul li{
	margin-left: 80px;		
	padding-top: 20px;
	padding-bottom: 20px;
}
.navbar ul li a{
	font-family: Arial black;
	font-size: 170%;
	color: #102154;
	text-align: center;
	text-decoration: none;
}
.navbar ul li a:hover{	
	color: #DC3420;
}
h3{
	color: #102154;
	font-family: Arial black;
	text-align: center;
	font-size: 100%;
}
fieldset{	
	background: -webkit-linear-gradient(90deg, #FFEEEE 10%, #DDEFBB 90%); /* Chrome 10+, Saf5.1+ */
	background:    -moz-linear-gradient(90deg, #FFEEEE 10%, #DDEFBB 90%); /* FF3.6+ */
	background:     -ms-linear-gradient(90deg, #FFEEEE 10%, #DDEFBB 90%); /* IE10 */
	background:      -o-linear-gradient(90deg, #FFEEEE 10%, #DDEFBB 90%); /* Opera 11.10+ */
	background:         linear-gradient(90deg, #FFEEEE 10%, #DDEFBB 90%); /* W3C */
}
.art{
	text-align: justify;	
}
footer{
	color:white;
	font-size: 20px;
	font-family: Monotype Corsiva;
	text-align: center;
}
